<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.jinqshen.weixin.mapper.ManageMajorMapper">
	
	<select id="findAllMajor" resultType="com.jinqshen.weixin.pojo.table.Major">
		select *
		from major
		<where>
			1=1
		</where>
	</select>
	
</mapper>