<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.jinqshen.weixin.mapper.ManageFinacoProjectMapper">
	<select id="findAllFinacoProject" resultType="com.jinqshen.weixin.pojo.table.FinacoProject">
		select *
		from finaco_project
		<where>
			1=1
		</where>
	</select>
</mapper>