<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.jinqshen.weixin.mapper.TestMapper">
	
	<insert id="insertPlayer" parameterType="com.jinqshen.weixin.pojo.entity.Players">
		insert
		into players(id,name,location,kda,team)
		values(#{id}, #{name}, #{location}, #{kda}, #{team})
	</insert>
</mapper>