<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<header id="head" th:fragment="student_header">
    <nav class="navbar navbar-default" role="navigation">
        <div id="headapp" class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" style="font-family: 黑体;color: #000000" href="/student/entrance">学生体测管理系统</a>
                <div class="pull-right" style="margin-top: 5px;">
                    <span style="font-family: 黑体;font-size: medium;color: #000000">欢迎你,{{loginStudent.name}}</span>
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="/image/headportrait.jpeg" class="img-circle" style="width: 50px;margin-top: -2px;">
                        <span class="caret" style="color: #000000"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0)" style="font-family: 黑体" data-toggle="modal" data-target="#searchInfoModal"><span class="fa fa-info-circle"></span>&nbsp;查看个人信息</a></li>
                        <li><a href="javascript:void(0)" style="font-family: 黑体" data-toggle="modal" data-target="#newPasswordModal"><span class="fa fa-edit" ></span>&nbsp;修改密码</a></li>
                        <li><a href="/student/logout" style="font-family: 黑体"><span class="fa fa-power-off"></span>&nbsp;注销</a></li>
                    </ul>
                </div>
            </div>
            <div class="modal fade" id="newPasswordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form id="studentNewPasswordForm" class="form-horizontal" data-parsley-validate="true" onsubmit="return false">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">×
                                </button>
                                <h4 class="modal-title" style="font-family: 黑体" id="newPasswordModalLabel">
                                    修改密码
                                </h4>
                            </div>
                            <div class="modal-body">
                                    <div class="form-group">
                                        <label class="control-label col-sm-2">新密码</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" type="password" placeholder="请输入新密码" v-model="newpassword" data-parsley-required-message="请输入新密码" required="required" pattern="/^(?![0-9]+$)(?![a-zA-Z]+$)(?![^0-9a-zA-Z]+$)\S{6,20}$/" data-parsley-pattern-message="请输入6-20位字母数字组合" >
                                       </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-2">确认密码</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" type="password" placeholder="请确认新密码" v-model="renewpassword" data-parsley-required-message="请确认新密码" required="required" pattern="/^(?![0-9]+$)(?![a-zA-Z]+$)(?![^0-9a-zA-Z]+$)\S{6,20}$/" data-parsley-pattern-message="请输入6-20位字母数字组合" >
                                        </div>
                                    </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default"
                                        data-dismiss="modal">关闭
                                </button>
                                <button class="btn btn-primary" @click="newPassword()">
                                    确认修改
                                </button>
                            </div>
                        </form>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

            <div class="modal fade" id="searchInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-hidden="true">×
                            </button>
                            <h4 class="modal-title" style="font-family: 黑体" id="searchInfoModalLabel">
                                查看个人信息
                            </h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal">
                                <fieldset disabled>
                                    <div class="form-group">
                                        <label class="control-label col-sm-2">学号</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" type="text" v-model="loginStudent.student_number">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-2">姓名</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" type="text" v-model="loginStudent.name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-2">性别</label>
                                        <div class="col-sm-10">
                                            <select v-model="loginStudent.sex" class="form-control">
                                                <option value="男">男</option>
                                                <option value="女">女</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-2">所在学院</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" type="text" v-model="loginStudent.academy">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-2">专业</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" type="text" v-model="loginStudent.major">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-2">出生日期</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" type="date" v-model="loginStudent.birth">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-2">身份证号</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" type="text" v-model="loginStudent.id_number">
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">
                                关闭
                            </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </div>
    </nav>
</header>

</body>

</html>