<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/font-awesome-4.7.0/css/font-awesome.css" />
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.min.js"></script>
	<script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
	<script src="/js/echarts/echarts.min.js"></script>
	<title>图表测试</title>
</head>
<body>
	<div id="main" class="col-xs-10" style="height: 500px"></div>
	
	<script type="text/javascript">
	    // 基于准备好的dom，初始化echarts实例
	    var myChart = echarts.init(document.getElementById('main'));
	
	    // 指定图表的配置项和数据
	    var option = {
	        title: {
	            text: 'ECharts 入门示例'
	        },
	        tooltip: {},
	        legend: {
	            data:['销量','deasd']
	        },
	        xAxis: {
	            data: []
	        },
	        yAxis: {},
	        series: [{
	            name: '销量',
	            type: 'bar',
	            data: []
	        },{
				name: 'deasd',
				type: 'bar',
				data: []
			}]
	    };
	
	    // 使用刚指定的配置项和数据显示图表。
	    myChart.setOption(option);
	    //Loading动画
	    myChart.showLoading();
	    
	    var names = [];
	    var values = [];
	    
	    $.ajax({
   			 url:"/json/chartdata.json",
	         dataType:"json",
	         success:function(jsonData){
	        	 
	        	 for(var p in jsonData.list){
	        		 names.push(jsonData.list[p].name);
	        		 values.push(jsonData.list[p].value);
	        	 }
	        	 
		         myChart.setOption({
			        xAxis: {
			            data: names
			        },
			        series: [{
			            // 根据名字对应到相应的系列
			            name: '销量',
			            data: values
			        }]
			    });
			    // 设置加载等待隐藏
			    myChart.hideLoading();
	         }
        });
    </script>
</body>
</html>