<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="student_layout">
<body>
<section layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 col-xs-12">
                <div class="col-md-4 col-xs-12 text-center">
                    <div>
                        <a href="/student/transcript"><img src="/image/searchGrade.jpg" class="img-rounded"></a>
                    </div>
                    <span style="font-family: 黑体;font-size: x-large;color: #6367C0;">查询体测成绩</span>
                </div>
                <div class="col-md-4 col-xs-12 text-center">
                    <div>
                        <a href="/student/studentExtraExercise"><img src="/image/extra_exercise.jpg" class="img-rounded"></a>
                    </div>
                    <span style="font-family: 黑体;font-size: x-large;color: #6367C0;">课外锻炼活动</span>
                </div>
                <div class="col-md-4 col-xs-12 text-center">
                    <div>
                        <a href="/student/orderFinacoIndex"><img src="/image/order_finaco.jpg" class="img-rounded"></a>
                    </div>
                    <span style="font-family: 黑体;font-size: x-large;color: #6367C0;">体测预约</span>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</section>
</body>
</html>