<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="layout">
<body>
	<section layout:fragment="content">
		<div class="container">
			<div id="condition0" class="row">
				<div id="alterDiv0" class="col-md-3 form-group">
					<label class="control-label">检索条件</label>
				</div>
				<div class="col-md-7 form-group">
					<div class="input-group">
						<div class="input-group-btn">
							<button class="btn btn-default dropdown-toggle" name="searchType" data-toggle="dropdown">
								<span id="conditionName0">学号</span>
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu">
								<li><a id="stdNumber0" href="#" onclick="changeConditionNameAndTypeFT(this,0)">学号</a></li>
								<li><a id="finacoProject0" href="#" onclick="changeConditionNameAndTypeFT(this,0)">体测项目</a></li>
								<li><a id="semester0" href="#" onclick="changeConditionNameAndTypeFT(this,0)">学期</a></li>
								<li><a id="grade0" href="#" onclick="changeConditionNameAndTypeFT(this,0)">年级</a></li>
							</ul>
						</div>
						<input id="conditionValue0" class="form-control" type="text" />
						<select id="projectopt0" class="form-control">
							<option value ="">请选择体测项目</option>
							<th:block th:each="finacoProject,iterStat : ${finacoProjects}">
								<option th:id="${finacoProject.project_no}" th:value="${finacoProject.project_no}" th:text="${finacoProject.project_name}">体测项目名</option>
							</th:block>
						</select>
						<select id="semesteropt0" class="form-control">
							<option value ="">请选择学期</option>
							<th:block th:each="semester,iterStat : ${semesters}">
								<option th:id="${semester}" th:value="${semester}" th:text="${semester}">学期</option>
							</th:block>
						</select>
						<select id="gradeopt0" class="form-control">
							<option value ="">请选择年级</option>
							<th:block th:each="grade,iterStat : ${grades}">
								<option th:id="${grade}" th:value="${grade}" th:text="${grade}">年级</option>
							</th:block>
						</select>
					</div>
				</div>
				<div class="col-md-1 form-group">
					<button class="btn btn-info" onclick="addConditionFT()">+</button>
				</div>
				<div class="col-md-1 form-group">
					<button id="rmBtn0" class="btn btn-danger" onclick="removeCondition(0)">-</button>
				</div>
			</div>
			<div class="row">
				<!-- 查询当前条件信息，生成条件框并回显搜索条件 -->
				<th:block th:each="highCondition, iterStat : ${finacoHighConditions}">
					<th:block th:if="${iterStat.index gt 0}">
						<div th:id="'condition0' + ${iterStat.index}" class="row">
							<div th:id="'alterDiv0' + ${iterStat.index}" class="col-md-3 form-group">
								<div class="btn-group" data-toggle="buttons">
									<label class="btn btn-default active">
										<input type="radio" th:name="'andor' + ${iterStat.index}" value="and" />and</label>
									<label class="btn btn-default">
										<input type="radio" th:name="'andor' + ${iterStat.index}" value="or" />or</label>
								</div>
							</div>
							<div class="col-md-7 form-group">
								<div class="input-group">
									<div class="input-group-btn">
										<button class="btn btn-default dropdown-toggle" name="searchType" data-toggle="dropdown">
											<span th:id="'conditionName0' + ${iterStat.index}">学号</span>
											<span class="caret"></span>
										</button>
										<ul class="dropdown-menu" role="menu">
											<li><a th:id="'stdNumber0' + ${iterStat.index}" th:onclick="'changeConditionNameAndTypeFT(this,\'0' + ${iterStat.index} + '\')'">学号</a></li>
											<li><a th:id="'finacoProject0' + ${iterStat.index}" th:onclick="'changeConditionNameAndTypeFT(this,\'0' + ${iterStat.index} + '\')'">体测项目</a></li>
											<li><a th:id="'semester0' + ${iterStat.index}" th:onclick="'changeConditionNameAndTypeFT(this,\'0' + ${iterStat.index} + '\')'">学期</a></li>
											<li><a th:id="'grade0' + ${iterStat.index}" th:onclick="'changeConditionNameAndTypeFT(this,\'0' + ${iterStat.index} + '\')'">年级</a></li>
										</ul>
									</div>
									<input th:id="'conditionValue0' + ${iterStat.index}" class="form-control" type="text" />
									<select th:id="'projectopt0' + ${iterStat.index}" class="form-control">
										<option value ="">请选择体测项目</option>
										<th:block th:each="finacoProject,iterStat : ${finacoProjects}">
											<option th:id="${finacoProject.project_no}" th:value="${finacoProject.project_no}" th:text="${finacoProject.project_name}">体测项目名</option>
										</th:block>
									</select>
									<select th:id="'semesteropt0' + ${iterStat.index}" class="form-control">
										<option value ="">请选择学期</option>
										<th:block th:each="semester,iterStat : ${semesters}">
											<option th:id="${semester}" th:value="${semester}" th:text="${semester}">学期</option>
										</th:block>
									</select>
									<select th:id="'gradeopt0' + ${iterStat.index}" class="form-control">
										<option value ="">请选择年级</option>
										<th:block th:each="grade,iterStat : ${grades}">
											<option th:id="${grade}" th:value="${grade}" th:text="${grade}">年级</option>
										</th:block>
									</select>
								</div>
							</div>
							<div class="col-md-1 form-group">
								<button class="btn btn-info" th:onclick="addConditionFT()">+</button>
							</div>
							<div class="col-md-1 form-group">
								<button th:id="'rmBtn0' + ${iterStat.index}" class="btn btn-danger" th:onclick="'removeCondition(\'0' + ${iterStat.index} + '\')'">-</button>
							</div>
						</div>
					</th:block>
				</th:block>
			</div>

			<div id="searchBtnDiv" class="row">
				<div class="form-group col-md-1 col-xs-3">
					<button id="searchBtn" type="button" class="btn btn-info" th:onclick="searchFT()"><span class="fa fa-search"></span>搜索</button>
				</div>
				<div class="form-group col-md-1 col-xs-3">
					<button type="button" class="btn btn-info" data-toggle="modal" data-target="#addFinacoModal"><span class="fa fa-user-plus"></span>新增</button>
				</div>
				<div class="form-group col-md-1 col-xs-6">
					<button type="button" class="btn btn-info" data-toggle="modal" data-target="#excelImportModal"><span class="fa fa-file-excel-o"></span>Excel导入</button>
				</div>
			</div>
			<div class="row">
				<table id="finacoForm" class="table table-bordered table-hover">
					<caption class="text-center">体测成绩信息</caption>
					<thead>
					<tr>
						<th class="text-center">学号</th>
						<th class="text-center">体测项目</th>
						<th class="text-center hidden-xs">学期</th>
						<th class="text-center hidden-xs">年级</th>
						<th class="text-center">测试成绩</th>
						<th class="text-center">操作</th>
					</tr>
					</thead>
					<tbody>
					<th:block th:if="${finacoPageBean.informations!=null}">
						<tr th:each="information,iterStat : ${finacoPageBean.informations}">
							<td th:text="${information.student_number}">Studentnumber</td>
							<th:block th:each="project,iterStat : ${finacoProjects}">
								<td th:if="${information.project_no == project.project_no}" th:text="${project.project_name}">Project</td>
							</th:block>
							<td th:text="${information.semester}" class="hidden-xs">Semester</td>
							<td th:text="${information.grade}" class="hidden-xs">Grade</td>
							<th:block>
								<td th:if="${information.project_no == 100010}" th:text="${information.test_result_describe} + '(m\'s)'"></td>
								<td th:if="${information.project_no == 100020}" th:text="${information.test_result_describe} + '(s)'"></td>
								<td th:if="${information.project_no == 100030}" th:text="${information.test_result_describe} + '(个)'"></td>
								<td th:if="${information.project_no == 100040}" th:text="${information.test_result_describe} + '(ml)'"></td>
								<td th:if="${information.project_no == 100050}" th:text="${information.test_result_describe} + '(cm)'"></td>
								<td th:if="${information.project_no == 100060}" th:text="${information.test_result_describe} + '(kg)'"></td>
								<td th:if="${information.project_no == 100070}" th:text="${information.test_result_describe} + '(m\'s)'"></td>
								<td th:if="${information.project_no == 100080}" th:text="${information.test_result_describe} + '(cm)'"></td>
								<td th:if="${information.project_no == 100090}" th:text="${information.test_result_describe} + '(个)'"></td>
								<td th:if="${information.project_no == 100100}" th:text="${information.test_result_describe} + '(cm)'"></td>
							</th:block>
							<td>
								<button class="btn btn-info" th:onclick="'editFinacoByFinacono('+${information.finaco_no}+')'" data-toggle="modal" data-target="#myModal"><span class="fa fa-edit"></span>修改</button>
								<button th:onclick="'deleteFinacoByFinacono('+${information.finaco_no}+')'" class="btn btn-danger"><span class="fa fa-trash"></span>删除</button>
							</td>
						</tr>
					</th:block>
					<th:block th:if="${finacoPageBean.informations==null}">
						<p>未查到任何成绩信息</p>
					</th:block>
					</tbody>
				</table>
				<th:block th:if="${finacoPageBean.totalSize!=0}">
					<div class="text-center">
						<ul class="pagination" >
							<li th:if="${finacoPageBean.currentPage==1}" class="disabled"><a href="#">&laquo;</a></li>
							<li th:unless="${finacoPageBean.currentPage==1}"><a th:onclick="'pageFun(' + ${finacoPageBean.currentPage-1} + ')'">&laquo;</a></li>
							<th:block th:each="page : ${#numbers.sequence(1, finacoPageBean.totalPage)}">
								<li th:if="${finacoPageBean.currentPage==page}" class="active">
									<a th:text="${page}" href="javascript:void(0)"></a>
								</li>
								<li th:unless="${finacoPageBean.currentPage==page}">
									<a th:text="${page}" th:onclick="'pageFun(' + ${page} + ')'"></a>
								</li>
							</th:block>
							<li th:if="${finacoPageBean.currentPage==finacoPageBean.totalPage}" class="disabled"><a href="#">&raquo;</a></li>
							<li th:unless="${finacoPageBean.currentPage==finacoPageBean.totalPage}"><a th:onclick="'pageFun(' + ${finacoPageBean.currentPage+1} + ')'">&raquo;</a></li>
						</ul>
					</div>
				</th:block>
			</div>

			
			<!-- 隐藏表单,用于提交指定数据 -->
			<div>
				<form id="searchForm" action="/manage/finacoTestResult" method="post">
					<input id="pageValue" name="page" value="" type="hidden" />
					<input id="conditionValue" name="conditions" value="" type="hidden" />
				</form>
			</div>
			
			<!-- 模态框（Modal） -->
			<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
							</button>
							<h4 class="modal-title" id="myModalLabel">
								修改体测成绩信息
							</h4>
						</div>
						<div class="modal-body">
							<form class="form-horizontal">
								<input id="finaco_no" name="finaco_no" class="form-control" type="hidden">
								<div class="form-group">
									<label class="control-label col-sm-2">学号</label>
									<div class="col-sm-10">
										<input id="student_number" name="student_number" class="form-control" type="text">
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-2">体测项目</label>
									<div class="col-sm-10">
										<select id="project_noopt" class="form-control">
											<option value="">请选择体测项目</option>
											<th:block th:each="finacoProject,iterStat : ${finacoProjects}">
												<option th:value="${finacoProject.project_no}" th:text="${finacoProject.project_name}">体测项目名</option>
											</th:block>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-2">学期</label>
									<div class="col-sm-10">
										<select id="semesteropt" class="form-control">
											<option value="">请选择学期</option>
											<th:block th:each="semester,iterStat : ${semesters}">
												<option th:value="${semester}" th:text="${semester}">学期</option>
											</th:block>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-2">年级</label>
									<div class="col-sm-10">
										<select id="gradeopt" class="form-control">
											<option value="">请选择年级</option>
											<th:block th:each="grade,iterStat : ${grades}">
												<option th:value="${grade}" th:text="${grade}">年级</option>
											</th:block>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-2">体测结果</label>
									<div class="col-sm-10">
										<input id="test_result_describe" name="test_result_describe" class="form-control" type="text">
									</div>
								</div>
							</form>
						</div>
						<div class="modal-footer">
							<button id="closeBtn" type="button" class="btn btn-default" data-dismiss="modal">关闭
							</button>
							<button id="submitEditBtn" type="button" onclick="updateFinaco()" data-dismiss="modal" class="btn btn-primary">
								提交更改
							</button>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
			
			<!-- 新增体测结果信息模态框 -->
			<div class="modal" id="addFinacoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
							</button>
							<h4 class="modal-title" id="myModalLabel">
								新增体测结果信息
							</h4>
						</div>
						<div class="modal-body">
							<form class="form-horizontal">
								<div class="form-group">
									<label class="control-label col-sm-2">学号</label>
									<div class="col-sm-10">
										<input id="add_student_number" name="student_number" class="form-control" type="text">
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-2">体测项目</label>
									<div class="col-sm-10">
										<select id="add_project_noopt" class="form-control">
											<option value="">请选择体测项目</option>
											<th:block th:each="finacoProject,iterStat : ${finacoProjects}">
												<option th:value="${finacoProject.project_no}" th:text="${finacoProject.project_name}">体测项目名</option>
											</th:block>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-2">学期</label>
									<div class="col-sm-10">
										<select id="add_semesteropt" class="form-control">
											<option value="">请选择学期</option>
											<th:block th:each="semester,iterStat : ${semesters}">
												<option th:value="${semester}" th:text="${semester}">学期</option>
											</th:block>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-2">年级</label>
									<div class="col-sm-10">
										<select id="add_gradeopt" class="form-control">
											<option value="">请选择年级</option>
											<th:block th:each="grade,iterStat : ${grades}">
												<option th:value="${grade}" th:text="${grade}">年级</option>
											</th:block>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-2">体测结果</label>
									<div class="col-sm-10">
										<input id="add_test_result_describe" name="add_test_result_describe" class="form-control" type="text">
									</div>
								</div>
							</form>
						</div>
						<div class="modal-footer">
							<button id="add_closeBtn" type="button" class="btn btn-default" data-dismiss="modal">取消
							</button>
							<button id="add_submitEditBtn" type="button" onclick="insertFinaco()" data-dismiss="modal" class="btn btn-primary">
								确定
							</button>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
			
			<div class="modal" id="excelImportModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
							</button>
							<h4 class="modal-title" id="myModalLabel">
								体测结果信息批量导入
							</h4>
						</div>
						<div class="modal-body">
							<a class="btn btn-primary" href="/manage/downloadFinacoTestResultExcel" >体测结果信息样例表下载</a><br>
							<form id="uploadFinacoFile" method="post" class="form-horizontal" enctype="multipart/form-data">
						        <div class="file-loading">
						            <input id="kv-explorer" name="mfile" type="file" multiple>
						        </div>
						    </form>
						</div>
						<div class="modal-footer">
							<button id="cancelBtnFT" type="button" class="btn btn-default" data-dismiss="modal">取消
							</button>
							<button id="importBtnFT" type="button" onclick="" data-dismiss="modal" class="btn btn-primary">
								全部导入
							</button>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
		</div>
		<script th:inline="javascript">
		/*<![CDATA[*/
			
			function highConditionReShow(){
				var divs = $("div[id^='condition']");//搜索所有以condition开头的div
				var highConditions = /*[[${finacoHighConditions}]]*/ 'finacoConditions';
				//遍历条件对象，将对应变量名字转换为中文显示如  student_number->学号
				for(var j = 0;j < highConditions.length;j++){
					if(highConditions[j].conditionName == 'student_number')
						highConditions[j].conditionName = '学号';
					if(highConditions[j].conditionName == 'project_no')
						highConditions[j].conditionName = '体测项目';
					if(highConditions[j].conditionName == 'semester')
						highConditions[j].conditionName = '学期';
					if(highConditions[j].conditionName == 'grade')
						highConditions[j].conditionName = '年级';
				}
				//遍历所有条件搜索div，将model中的值给页面进行回显
				for(var i = 0;i < divs.length;i++){
					if(i == 0){
						$("#" + divs[i].id).find("button[id^='rmBtn']").hide();
					}
					var name = highConditions[i].conditionName;//获取条件名字
					$("#" + divs[i].id).find("span[id^='conditionName']").text(name);//设置条件名字
					var value = highConditions[i].conditionValue;//获取条件值
					//如果条件名为：学号，则隐藏select框，显示input框,并为其设置值为value
					if(name == '学号'){
						$("#" + divs[i].id).find("select[id^='projectopt']").hide();
						$("#" + divs[i].id).find("select[id^='semesteropt']").hide();
						$("#" + divs[i].id).find("select[id^='gradeopt']").hide();
						$("#" + divs[i].id).find("input[id^='conditionValue']").show();
						$("#" + divs[i].id).find("input[id^='conditionValue']").val(value);
					}
					//如果条件名为体测项目，则隐藏其他，显示性别select框,并设置选择的值为value
					if(name == '体测项目'){
						$("#" + divs[i].id).find("select[id^='semesteropt']").hide();
						$("#" + divs[i].id).find("select[id^='gradeopt']").hide();
						$("#" + divs[i].id).find("input[id^='conditionValue']").hide();
						$("#" + divs[i].id).find("select[id^='projectopt']").show();
						var objsex = $("#" + divs[i].id).find("select[id^='projectopt']").get(0);
						for(var k = 0;k < objsex.options.length;k++){
							var tmp = objsex.options[k].value;
							if(tmp == value){
								objsex.options[k].selected="selected";
								break;
							}
						}
					}
					if(name == '学期'){
						$("#" + divs[i].id).find("select[id^='gradeopt']").hide();
						$("#" + divs[i].id).find("input[id^='conditionValue']").hide();
						$("#" + divs[i].id).find("select[id^='projectopt']").hide();
						$("#" + divs[i].id).find("select[id^='semesteropt']").show();
						var objacademy = $("#" + divs[i].id).find("select[id^='semesteropt']").get(0);
						for(var k = 0;k < objacademy.options.length;k++){
							var tmp = objacademy.options[k].value;
							if(tmp == value){
								objacademy.options[k].selected="selected";
								break;
							}
						}
					}
					if(name == '年级'){
						$("#" + divs[i].id).find("select[id^='semesteropt']").hide();
						$("#" + divs[i].id).find("select[id^='projectopt']").hide();
						$("#" + divs[i].id).find("input[id^='conditionValue']").hide();
						$("#" + divs[i].id).find("select[id^='gradeopt']").show();
						var objmajor = $("#" + divs[i].id).find("select[id^='gradeopt']").get(0);
						for(var k = 0;k < objmajor.options.length;k++){
							var tmp = objmajor.options[k].value;
							if(tmp == value){
								objmajor.options[k].selected="selected";
								break;
							}
						}
					}
					if(i > 0){
						//获取andor的值
						var andorValue = highConditions[i].andor;
						//设置选中值和label的active属性
						if(andorValue == 'and'){
							$("#" + divs[i].id).find("input[name^='andor'][value='and']").attr("checked",true);
						}
						else{
							$("#" + divs[i].id).find("input[name^='andor'][value='or']").attr("checked",true);
							$("#" + divs[i].id).find("input[name^='andor'][value='or']").parent().addClass("active");
							$("#" + divs[i].id).find("input[name^='andor'][value='and']").parent().removeClass("active");
						}
					}
				}				
			}
			
			//分页提交数据
			function pageFun(page){
				var conditions = allHighConditionFT();
				$("#pageValue").val(page);
				$("#conditionValue").val(JSON.stringify(conditions));
				$("#searchForm").submit();
			}
		/*]]>*/
		</script>
	</section>
</body>
</html>