<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
		<title>体测管理系统首页</title>
		<!--BootStrap核心CSS-->
		<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
		<link rel="stylesheet" th:href="@{/css/font-awesome-4.7.0/css/font-awesome.min.css}" />
		<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
		<script th:src="@{/webjars/bootstrap/3.3.6/dist/js/bootstrap.min.js}"></script>
	</head>
	<body>
		<div class="container">
			<div id="condition0" class="row">
				<div id="alterDiv0" class="col-md-3 form-group">
					<label class="control-label">检索条件</label>
				</div>
				<div class="col-md-7 form-group">
					<div class="input-group">
						<div class="input-group-btn">
							<button class="btn btn-default dropdown-toggle" name="searchType" data-toggle="dropdown">
								<span id="conditionName0">学号</span>
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu">
								<li><a id="stdNumber0" href="#" onclick="changeConditionNameAndType(this,0)">学号</a></li>
								<li><a id="stdName0" href="#" onclick="changeConditionNameAndType(this,0)">姓名</a></li>
								<li><a id="stdSex0" href="#" onclick="changeConditionNameAndType(this,0)">性别</a></li>
								<li><a id="stdAcademy0" href="#" onclick="changeConditionNameAndType(this,0)">所在学院</a></li>
								<li><a id="stdMajor0" href="#" onclick="changeConditionNameAndType(this,0)">专业</a></li>
								<li><a id="stdIDnumber0" href="#" onclick="changeConditionNameAndType(this,0)">身份证号</a></li>
							</ul>
						</div>
						<input id="conditionValue0" class="form-control" type="text" />
						<select id="sexopt0" class="form-control">
							<option value ="男">男</option>
							<option value ="女">女</option>
						</select>
						<select id="academyopt0" class="form-control">
							<option value ="">请选择学院</option>
							<option value ="数学学院">数学学院</option>
							<option value ="计算机学院">计算机学院</option>
							<option value ="外国语学院">外国语学院</option>
							<option value ="建筑与艺术学院">建筑与艺术学院</option>
						</select>
						<select id="majoropt0" class="form-control">
							<option value ="">请选择专业</option>
							<option value ="信息与计算科学">信息与计算科学</option>
							<option value ="数学与应用数学">数学与应用数学</option>
							<option value ="统计学">统计学</option>
						</select>
					</div>
				</div>
				<div class="col-md-1 form-group">
					<button class="btn btn-primary" onclick="addCondition()">+</button>
				</div>
				<div class="col-md-1 form-group">
					<button id="rmBtn0" class="btn btn-primary" onclick="removeCondition(0)">-</button>
				</div>
			</div>
			<div id="searchBtnDiv" class="row">
				<div class="form-group col-md-1 col-xs-1">
					<button id="searchBtn" type="button" class="btn btn-sm btn-primary" onclick="search()"><span class="fa fa-search"></span></button>
				</div>
			</div>
		</div>
	</body>
	<script>
		//ajax请求
		function search(){
			var divs = $("div[id^='condition']");//搜索所有以condition开头的div
			console.log(divs.length);
			var conditions = [];
			for(var i = 0;i < divs.length;i++){
				var conditionName = $("#" + divs[i].id).find("span[id^='conditionName']").text();//获取该div中的conditionName的值
				var conditionValue;
				if(conditionName == "学号" || conditionName == "姓名" || conditionName == "身份证号"){
					conditionValue = $("#" + divs[i].id).find("input[id^='conditionValue']").val();
				}
				else if(conditionName == "性别"){
					conditionValue = $("#" + divs[i].id).find("select[id^='sexopt']").val();
				}
				else if(conditionName == "专业"){
					conditionValue = $("#" + divs[i].id).find("select[id^='majoropt']").val();
				}
				else{
					conditionValue = $("#" + divs[i].id).find("select[id^='academyopt']").val();
				}
				var andor = "and";
				var andorValue = $("#" + divs[i].id).find("input[name^='andor']:checked").val();
				if(i == 0)
					andor = "";
				else if(andorValue)
					andor = andorValue;
				console.log(conditionName + "" + conditionValue + andor);
				var con = new Condition(conditionName, conditionValue, andor);
				conditions.push(con);
			}
			$.post("/sss",{
				conditions: JSON.stringify(conditions)
			},function(data){
				
			})
		}
		
		function Condition(conditionName, conditionValue, andor){
			this.conditionName = conditionName;
			this.conditionValue = conditionValue;
			this.andor = andor;
		}
		
		$(function(){
			$("#rmBtn0").hide();//隐藏初始搜索框的删除按钮
			$("#sexopt0").hide();//隐藏初始搜索框的select框
			$("#academyopt0").hide();
			$("#majoropt0").hide();
		})
		
		var conditionNums = 1;//全局变量,为了生成动态id
		
		//变化conditionName Label的值,输入框类型转换input->select
		function changeConditionNameAndType(ths,num){
			var name = $(ths).text();
			$("#conditionName" + num).text(name);
			if(name == "学号" || name == "姓名" || name == "身份证号"){
				$("#sexopt" + num).hide();
				$("#academyopt" + num).hide();
				$("#majoropt" + num).hide();
				$("#conditionValue" + num).show();
			}
			else if(name == "性别"){
				$("#academyopt" + num).hide();
				$("#majoropt" + num).hide();
				$("#conditionValue" + num).hide();
				$("#sexopt" + num).show();
			}
			else if(name == "所在学院"){
				$("#majoropt" + num).hide();
				$("#conditionValue" + num).hide();
				$("#sexopt" + num).hide();
				$("#academyopt" + num).show();
			}
			else if(name == "专业"){
				$("#academyopt" + num).hide();
				$("#conditionValue" + num).hide();
				$("#sexopt" + num).hide();
				$("#majoropt" + num).show();
			}
		}
		
		//添加
		function addCondition(){
			var divTemplate = $("#condition0").clone();//克隆div模板
			divTemplate.attr("id", "condition" + conditionNums);//更改div的id
			$("#searchBtnDiv").before(divTemplate);
			
			$("#condition" + conditionNums + " div[id='alterDiv0']").attr("id", "alterDiv" + conditionNums);//更改标签div
		
			//添加and or单选按钮
			$("#alterDiv" + conditionNums).html('<div class="btn-group" data-toggle="buttons"><label class="btn btn-default active"><input type="radio" name="andor' + conditionNums + '" value="and" />and</label><label class="btn btn-default"><input type="radio" name="andor' + conditionNums + '" value="or" />or</label></div>');
			
			$("#condition" + conditionNums + " span[id='conditionName0']").attr("id", "conditionName" + conditionNums);//更改span元素的id
			$("#condition" + conditionNums + " input[id='conditionValue0']").attr("id", "conditionValue" + conditionNums);//更改input元素的id
			$("#condition" + conditionNums + " button[id='rmBtn0']").attr("id", "rmBtn" + conditionNums);//更改删除按钮的id
			
			$("#condition" + conditionNums + " a[id='stdNumber0']").attr("id", "stdNumber" + conditionNums);//更改下拉列表id
			$("#condition" + conditionNums + " a[id='stdName0']").attr("id", "stdName" + conditionNums);
			$("#condition" + conditionNums + " a[id='stdSex0']").attr("id", "stdSex" + conditionNums);
			$("#condition" + conditionNums + " a[id='stdAcademy0']").attr("id", "stdAcademy" + conditionNums);
			$("#condition" + conditionNums + " a[id='stdMajor0']").attr("id", "stdMajor" + conditionNums);
			$("#condition" + conditionNums + " a[id='stdIDnumber0']").attr("id", "stdIDnumber" + conditionNums);
			$("#stdNumber" + conditionNums).attr("onclick", "changeConditionNameAndType(this," + conditionNums + ")");//设置下拉列表绑定事件参数
			$("#stdName" + conditionNums).attr("onclick", "changeConditionNameAndType(this," + conditionNums + ")");
			$("#stdSex" + conditionNums).attr("onclick", "changeConditionNameAndType(this," + conditionNums + ")");
			$("#stdAcademy" + conditionNums).attr("onclick", "changeConditionNameAndType(this," + conditionNums + ")");
			$("#stdMajor" + conditionNums).attr("onclick", "changeConditionNameAndType(this," + conditionNums + ")");
			$("#stdIDnumber" + conditionNums).attr("onclick", "changeConditionNameAndType(this," + conditionNums + ")");
			
			$("#condition" + conditionNums + " select[id='majoropt0']").attr("id", "majoropt" + conditionNums);//设置select框的id
			$("#condition" + conditionNums + " select[id='sexopt0']").attr("id", "sexopt" + conditionNums);
			$("#condition" + conditionNums + " select[id='academyopt0']").attr("id", "academyopt" + conditionNums);
			
			$("#conditionValue" + conditionNums).val("");//清空输入框的内容
			$("#rmBtn" + conditionNums).attr("onclick", "removeCondition(" + conditionNums + ")");//设置删除按钮绑定事件参数
			
			$("#rmBtn" + conditionNums).show();//显示删除按钮
			conditionNums++;
		}
		
		//删除
		function removeCondition(num){
			$("#condition" + num).remove();
		}
	</script>
</html>
