<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
	<title>首页</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/font-awesome-4.7.0/css/font-awesome.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-default" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">新年快乐，敬请期待</a>
		</div>
		<ul class="nav navbar-nav navbar-right">
			<li><p class="navbar-text">导航栏文字</p></li>
			<li><a href="#" class="glyphicon glyphicon-log-in"><span> 登录</span></a></li>
			<li><a href="#" class="glyphicon glyphicon-user"><span> 注册</span></a></li>
		</ul>
		
		<div class="collapse navbar-collapse" id="example-collapse">
			<ul class="nav navbar-nav">
				<li><a href="#">新年快乐，敬请期待</a></li>
				<li><a href="#">新年快乐，敬请期待</a></li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
					新年祝福语<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li><a href="#">万事如意</a></li>
						<li><a class="divider"></a></li>
						<li><a href="#">66大顺</a></li>
						<li><a href="#">好事成双</a></li>
						<li><a class="divider"></a></li>
						<li><a href="#">开开心心</a></li>
						<li><a href="#">工作顺利</a></li>
						<li><a href="#">红包拿来，哈哈</a></li>
					</ul>
				</li>
			</ul>
		</div>
		
		<div>
			<form class="navbar-form navbar-left" action="#">
				<input class="form-control" type="text" placeholder="Search">
				<button type="submit" class="btn btn-default">搜索</button>
			</form>
			<button type="button" class="btn btn-default navbar-btn">导航栏按钮</button>
		</div>

	</div>
	</nav>
	<div class="container">
	<div>
		<button type="button" class="btn btn-default">按钮</button>
	</div>
	<div style="padding:100px 100px 10px;">
		<form id="loginform" class="form-horizontal" role="form">
			<div class="input-group">
				<span class="input-group-addon">用户名</span>
				<input name="username" type="text" class="form-control" placeholder="用户名"/>

			</div>
			<br>
			<div class="input-group">
				<span class="input-group-addon">&nbsp;密码&nbsp;</span>
				<input name="password" type="password" class="form-control" placeholder="密码"/>
			</div>
		</form>
	</div>
	</div>
	
	<footer class="text-center">
		<a class="text-center" href="http://www.miitbeian.gov.cn/" >蜀ICP备19004418号</a>
	</footer>
</body>
</html>