<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="layout">
<body>
	<section layout:fragment="content">
		<div class="container">
			<div id="condition0" class="row">
				<div id="alterDiv0" class="col-md-3 form-group">
					<label class="control-label">检索条件</label>
				</div>
				<div class="col-md-7 form-group">
					<div class="input-group">
						<div class="input-group-btn">
							<button class="btn btn-default dropdown-toggle" name="searchType" data-toggle="dropdown">
								<span id="conditionName0">学号</span>
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu">
								<li><a id="stdNumber0" href="#" onclick="changeConditionNameAndType(this,0)">学号</a></li>
								<li><a id="stdName0" href="#" onclick="changeConditionNameAndType(this,0)">姓名</a></li>
								<li><a id="stdSex0" href="#" onclick="changeConditionNameAndType(this,0)">性别</a></li>
								<li><a id="stdAcademy0" href="#" onclick="changeConditionNameAndType(this,0)">所在学院</a></li>
								<li><a id="stdMajor0" href="#" onclick="changeConditionNameAndType(this,0)">专业</a></li>
								<li><a id="stdIDnumber0" href="#" onclick="changeConditionNameAndType(this,0)">身份证号</a></li>
							</ul>
						</div>
						<input id="conditionValue0" class="form-control" type="text" />
						<select id="sexopt0" class="form-control">
							<option value ="男">男</option>
							<option value ="女">女</option>
						</select>
						<select id="academyopt0" class="form-control">
							<option value ="">请选择学院</option>
							<th:block th:each="academy,iterStat : ${academies}">
								<option th:id="${academy.academy_no}" th:value="${academy.academy_name}" th:text="${academy.academy_name}">学院名</option>
							</th:block>
						</select>
						<select id="majoropt0" class="form-control">
							<option value ="">请选择专业</option>
							<th:block th:each="major,iterStat : ${majors}">
								<option th:id="${major.major_no}" th:value="${major.major_name}" th:text="${major.major_name}">专业名</option>
							</th:block>
						</select>
					</div>
				</div>
				<div class="col-md-1 form-group">
					<button class="btn btn-info" onclick="addCondition()">+</button>
				</div>
				<div class="col-md-1 form-group">
					<button id="rmBtn0" class="btn btn-danger" onclick="removeCondition(0)">-</button>
				</div>
			</div>
			
			<!-- 查询当前条件信息，生成条件框并回显搜索条件 -->
			<th:block th:each="highCondition, iterStat : ${studentInfoHighConditions}">
				<th:block th:if="${iterStat.index gt 0}">
					<div th:id="'condition0' + ${iterStat.index}" class="row">
						<div th:id="'alterDiv0' + ${iterStat.index}" class="col-md-3 form-group">
							<div class="btn-group" data-toggle="buttons">
								<label class="btn btn-default active">
									<input type="radio" th:name="'andor' + ${iterStat.index}" value="and" />and</label>
								<label class="btn btn-default">
									<input type="radio" th:name="'andor' + ${iterStat.index}" value="or" />or</label>
							</div>
						</div>
						<div class="col-md-7 form-group">
							<div class="input-group">
								<div class="input-group-btn">
									<button class="btn btn-default dropdown-toggle" name="searchType" data-toggle="dropdown">
										<span th:id="'conditionName0' + ${iterStat.index}">学号</span>
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu">
										<li><a th:id="'stdNumber0' + ${iterStat.index}" th:onclick="'changeConditionNameAndType(this,\'0' + ${iterStat.index} + '\')'">学号</a></li>
										<li><a th:id="'stdName0' + ${iterStat.index}" th:onclick="'changeConditionNameAndType(this,\'0' + ${iterStat.index} + '\')'">姓名</a></li>
										<li><a th:id="'stdSex0' + ${iterStat.index}" th:onclick="'changeConditionNameAndType(this,\'0' + ${iterStat.index} + '\')'">性别</a></li>
										<li><a th:id="'stdAcademy0' + ${iterStat.index}" th:onclick="'changeConditionNameAndType(this,\'0' + ${iterStat.index} + '\')'">所在学院</a></li>
										<li><a th:id="'stdMajor0' + ${iterStat.index}" th:onclick="'changeConditionNameAndType(this,\'0' + ${iterStat.index} + '\')'">专业</a></li>
										<li><a th:id="'stdIDnumber0' + ${iterStat.index}" th:onclick="'changeConditionNameAndType(this,\'0' + ${iterStat.index} + '\')'">身份证号</a></li>
									</ul>
								</div>
								<input th:id="'conditionValue0' + ${iterStat.index}" class="form-control" type="text" />
								<select th:id="'sexopt0' + ${iterStat.index}" class="form-control">
									<option value ="男">男</option>
									<option value ="女">女</option>
								</select>
								<select th:id="'academyopt0' + ${iterStat.index}" class="form-control">
									<option value ="">请选择学院</option>
									<th:block th:each="academy,iterStat : ${academies}">
										<option th:id="${academy.academy_no}" th:value="${academy.academy_name}" th:text="${academy.academy_name}">学院名</option>
									</th:block>
								</select>
								<select th:id="'majoropt0' + ${iterStat.index}" class="form-control">
									<option value ="">请选择专业</option>
								</select>
							</div>
						</div>
						<div class="col-md-1 form-group">
							<button class="btn btn-info" th:onclick="addCondition()">+</button>
						</div>
						<div class="col-md-1 form-group">
							<button th:id="'rmBtn0' + ${iterStat.index}" class="btn btn-danger" th:onclick="'removeCondition(\'0' + ${iterStat.index} + '\')'">-</button>
						</div>
					</div>
				</th:block>
			</th:block>
			<div id="searchBtnDiv" class="row">
				<div class="form-group col-md-1 col-xs-3">
					<button id="searchBtn" type="button" class="btn btn-info" th:onclick="search()"><span class="fa fa-search"></span>搜索</button>
				</div>
				<div class="form-group col-md-1 col-xs-3">
					<button type="button" class="btn btn-info" data-toggle="modal" data-target="#addStudentModal"><span class="fa fa-user-plus"></span>新增</button>
				</div>
				<div class="form-group col-md-1 col-xs-6">
					<button type="button" class="btn btn-info" data-toggle="modal" data-target="#excelImportModal"><span class="fa fa-file-excel-o"></span>Excel导入</button>
				</div>
			</div>
			<table id="studentInfoForm" class="table table-bordered table-hover">
				<caption class="text-center">学生信息</caption>
					<thead>
						<tr>
							<th class="text-center">学号</th>
							<th class="text-center">姓名</th>
							<th class="text-center">性别</th>
							<th class="text-center">专业</th>
							<th class="text-center"><span class="fa fa-home"></span>&nbsp;学院</th>
							<th class="text-center hidden-xs">出生年月</th>
							<th class="text-center hidden-xs"><span class="fa fa-id-card"></span>&nbsp;身份证号</th>
							<th class="text-center">操作</th>
						</tr>
					</thead>
					<tbody>
						<th:block th:if="${studentInfoPageBean.informations!=null}">
							<tr th:each="information,iterStat : ${studentInfoPageBean.informations}"> 
							   <td th:text="${information.student_number}">Studentnumber</td>
							   <td th:text="${information.name}">Name</td>
							   <td th:text="${information.sex}">Sex</td>
							   <td th:text="${information.major}">Major</td>
							   <td th:text="${information.academy}">Academy</td>
							   <td class="hidden-xs" th:text="${information.birth}">Birth</td>
							   <td class="hidden-xs" th:text="${information.id_number}">ID_Number</td>
							   <td>
							   		<button class="btn btn-info" th:onclick="'editStudentInfoByStudentNumber('+${information.student_number}+')'" data-toggle="modal" data-target="#myModal"><span class="fa fa-edit"></span>修改</button>
							   		<button th:onclick="'deleteStudentInfoByStudentNumber('+${information.student_number}+')'" class="btn btn-danger"><span class="fa fa-trash"></span>删除</button>
							   </td>
							</tr>
						</th:block>
						<th:block th:if="${studentInfoPageBean.informations==null}">
							<p>未查到任何学生信息</p>
						</th:block>
					</tbody>
			</table>
			<th:block th:if="${studentInfoPageBean.totalSize!=0}">
				<div class="text-center">
					<ul class="pagination" >
					    <li th:if="${studentInfoPageBean.currentPage==1}" class="disabled"><a href="#">&laquo;</a></li>
					    <li th:unless="${studentInfoPageBean.currentPage==1}"><a th:onclick="'pageFun(' + ${studentInfoPageBean.currentPage-1} + ')'">&laquo;</a></li>
					    <th:block th:each="page : ${#numbers.sequence(1, studentInfoPageBean.totalPage)}">
						    <li th:if="${studentInfoPageBean.currentPage==page}" class="active">
						    	<a th:text="${page}" href="javascript:void(0)"></a>
						    </li>
						    <li th:unless="${studentInfoPageBean.currentPage==page}">
						    	<a th:text="${page}" th:onclick="'pageFun(' + ${page} + ')'"></a>
						    </li>
					    </th:block>
					    <li th:if="${studentInfoPageBean.currentPage==studentInfoPageBean.totalPage}" class="disabled"><a href="#">&raquo;</a></li>
					    <li th:unless="${studentInfoPageBean.currentPage==studentInfoPageBean.totalPage}"><a th:onclick="'pageFun(' + ${studentInfoPageBean.currentPage+1} + ')'">&raquo;</a></li>
					</ul>
				</div>
			</th:block>
			
			<!-- 隐藏表单,用于提交指定数据 -->
			<div>
				<form id="searchForm" action="/manage/studentInfoList" method="post">
					<input id="pageValue" name="page" value="" type="hidden" />
					<input id="conditionValue" name="conditions" value="" type="hidden" />
				</form>
			</div>
			
			<!-- 模态框（Modal） -->
			<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
                        <form id="updateStudentInfoForm" class="form-horizontal" data-parsley-validate="true" onsubmit="return false">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                                </button>
                                <h4 class="modal-title" id="myModalLabel">
                                    修改信息
                                </h4>
                            </div>
                            <div class="modal-body">
                                <fieldset disabled>
                                    <div class="form-group">
                                        <label class="control-label col-sm-2">学号</label>
                                        <div class="col-sm-10">
                                            <input id="student_number" name="student_number" class="form-control disabled" type="text">
                                        </div>
                                    </div>
                                </fieldset>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">姓名</label>
                                    <div class="col-sm-10">
                                        <input id="name" name="name" class="form-control" type="text" data-parsley-required-message="请输入姓名" required="required">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">性别</label>
                                    <div class="col-sm-10">
                                        <select id="sexopt" class="form-control">
                                            <option id="boyopt" name="sex" value="男">男</option>
                                            <option id="grilopt" name="sex" value="女">女</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">所在学院</label>
                                    <div class="col-sm-10">
                                        <select id="academyopt" class="form-control">
                                            <option value="">请选择学院</option>
                                            <th:block th:each="academy,iterStat : ${academies}">
                                                <option th:id="${academy.academy_no}" th:value="${academy.academy_name}" th:text="${academy.academy_name}">学院名</option>
                                            </th:block>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">专业</label>
                                    <div class="col-sm-10">
                                        <select id="majoropt" class="form-control">
                                            <option value="">请选择专业</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">生日</label>
                                    <div class="col-sm-10">
                                        <input id="birth" name="birth" class="form-control" type="date">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">身份证号</label>
                                    <div class="col-sm-10">
                                        <input id="id_number" name="id_number" class="form-control" type="text" data-parsley-required-message="请输入身份证号" required="required">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button id="closeBtn" type="button" class="btn btn-default" data-dismiss="modal">关闭
                                </button>
                                <button id="submitEditBtn" onclick="updateStudentInfo()" class="btn btn-primary">
                                    提交更改
                                </button>
                            </div>
                        </form>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
			
			<!-- 新增学生信息模态框 -->
			<div class="modal" id="addStudentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
                        <form id="newStudentInfoForm" class="form-horizontal" data-parsley-validate="true" onsubmit="return false">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                                </button>
                                <h4 class="modal-title" id="addStudentModalLabel">
                                    新增学生信息
                                </h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label class="control-label col-sm-2">学号</label>
                                    <div class="col-sm-10">
                                        <input id="add_student_number" name="student_number" class="form-control" type="text" data-parsley-required-message="请输入学号" required="required" pattern="/^\d+$/" data-parsley-pattern-message="请输入正确的学号">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">姓名</label>
                                    <div class="col-sm-10">
                                        <input id="add_name" name="name" class="form-control" type="text" data-parsley-required-message="请输入姓名" required="required">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">性别</label>
                                    <div class="col-sm-10">
                                        <select id="add_sexopt" class="form-control">
                                            <option id="add_boyopt" name="sex" value="男">男</option>
                                            <option id="add_grilopt" name="sex" value="女">女</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">所在学院</label>
                                    <div class="col-sm-10">
                                        <select id="add_academyopt" class="form-control">
                                            <option value="">请选择学院</option>
                                            <th:block th:each="academy,iterStat : ${academies}">
                                                <option th:id="'add_' + ${academy.academy_no}" th:value="${academy.academy_name}" th:text="${academy.academy_name}">学院名</option>
                                            </th:block>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">专业</label>
                                    <div class="col-sm-10">
                                        <select id="add_majoropt" class="form-control">
                                            <option value="">请选择专业</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">生日</label>
                                    <div class="col-sm-10">
                                        <input id="add_birth" name="birth" class="form-control" type="date">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">身份证号</label>
                                    <div class="col-sm-10">
                                        <input id="add_id_number" name="id_number" class="form-control" type="text" data-parsley-required-message="请输入身份证号" required="required">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button id="add_closeBtn" type="button" class="btn btn-default" data-dismiss="modal">取消
                                </button>
                                <button id="add_submitEditBtn" onclick="insertStudentInfo()" class="btn btn-primary">
                                    确定
                                </button>
                            </div>
                        </form>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
			
			<div class="modal" id="excelImportModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
							</button>
							<h4 class="modal-title" id="excelImportModalLabel">
								学生信息批量导入
							</h4>
						</div>
						<div class="modal-body">
							<a class="btn btn-primary" href="/manage/downloadStudentInfoExcel" >学生信息样例表下载</a><br>
							<form id="uploadStudentInfoFile" method="post" class="form-horizontal" enctype="multipart/form-data">
						        <div class="file-loading">
						            <input id="kv-explorer" name="mfile" type="file" multiple>
						        </div>
						    </form>
						</div>
						<div class="modal-footer">
							<button id="cancelBtn" type="button" class="btn btn-default" data-dismiss="modal">取消
							</button>
							<button id="importBtn" type="button" onclick="" data-dismiss="modal" class="btn btn-primary">
								全部导入
							</button>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
		</div>
		<script th:inline="javascript">
		/*<![CDATA[*/
		    var academies = /*[[${academies}]]*/ 'Academies';
			var majors = /*[[${majors}]]*/ 'Majors';
			var academy = [];
			for(var i = 0;i < academies.length;i++){
				academy[academies[i].academy_name] = [];
				for(var j = 0;j < majors.length;j++){
					var m = {name: majors[j].major_name, id: majors[j].major_no};
					if(majors[j].academy_no == academies[i].academy_no)
						academy[academies[i].academy_name].push(m);
				}
			}
	
			
			
			function highConditionReShow(){
				var divs = $("div[id^='condition']");//搜索所有以condition开头的div
				var highConditions = /*[[${studentInfoHighConditions}]]*/ 'student_number';
				//遍历条件对象，将对应变量名字转换为中文显示如  student_number->学号
				for(var j = 0;j < highConditions.length;j++){
					if(highConditions[j].conditionName == 'student_number')
						highConditions[j].conditionName = '学号';
					if(highConditions[j].conditionName == 'name')
						highConditions[j].conditionName = '姓名';
					if(highConditions[j].conditionName == 'sex')
						highConditions[j].conditionName = '性别';
					if(highConditions[j].conditionName == 'academy')
						highConditions[j].conditionName = '所在学院';
					if(highConditions[j].conditionName == 'major')
						highConditions[j].conditionName = '专业';
					if(highConditions[j].conditionName == 'id_number')
						highConditions[j].conditionName = '身份证号';
				}
				//遍历所有条件搜索div，将model中的值给页面进行回显
				for(var i = 0;i < divs.length;i++){
					if(i == 0){
						$("#" + divs[i].id).find("button[id^='rmBtn']").hide();
					}
					var name = highConditions[i].conditionName;//获取条件名字
					$("#" + divs[i].id).find("span[id^='conditionName']").text(name);//设置条件名字
					var value = highConditions[i].conditionValue;//获取条件值
					//如果条件名为：学号，姓名，身份证号，则隐藏select框，显示input框,并为其设置值为value
					if(name == '学号' || name == '姓名' || name == '身份证号'){
						$("#" + divs[i].id).find("select[id^='sexopt']").hide();
						$("#" + divs[i].id).find("select[id^='majoropt']").hide();
						$("#" + divs[i].id).find("select[id^='academyopt']").hide();
						$("#" + divs[i].id).find("input[id^='conditionValue']").show();
						$("#" + divs[i].id).find("input[id^='conditionValue']").val(value);
					}
					//如果条件名为性别，则隐藏其他，显示性别select框,并设置选择的值为value
					if(name == '性别'){
						$("#" + divs[i].id).find("select[id^='majoropt']").hide();
						$("#" + divs[i].id).find("select[id^='academyopt']").hide();
						$("#" + divs[i].id).find("input[id^='conditionValue']").hide();
						$("#" + divs[i].id).find("select[id^='sexopt']").show();
						var objsex = $("#" + divs[i].id).find("select[id^='sexopt']").get(0);
						for(var k = 0;k < objsex.options.length;k++){
							var tmp = objsex.options[k].value;
							if(tmp == value){
								objsex.options[k].selected="selected";
								break;
							}
						}
					}
					if(name == '所在学院'){
						$("#" + divs[i].id).find("select[id^='sexopt']").hide();
						$("#" + divs[i].id).find("select[id^='majoropt']").hide();
						$("#" + divs[i].id).find("input[id^='conditionValue']").hide();
						$("#" + divs[i].id).find("select[id^='academyopt']").show();
						var objacademy = $("#" + divs[i].id).find("select[id^='academyopt']").get(0);
						for(var k = 0;k < objacademy.options.length;k++){
							var tmp = objacademy.options[k].value;
							if(tmp == value){
								objacademy.options[k].selected="selected";
								break;
							}
						}
					}
					if(name == '专业'){
						$("#" + divs[i].id).find("select[id^='sexopt']").hide();
						$("#" + divs[i].id).find("select[id^='academyopt']").hide();
						$("#" + divs[i].id).find("input[id^='conditionValue']").hide();
						$("#" + divs[i].id).find("select[id^='majoropt']").show();
						var objmajor = $("#" + divs[i].id).find("select[id^='majoropt']").get(0);
						for(var k = 0;k < objmajor.options.length;k++){
							var tmp = objmajor.options[k].value;
							if(tmp == value){
								objmajor.options[k].selected="selected";
								break;
							}
						}
					}
					if(i > 0){
						//获取andor的值
						var andorValue = highConditions[i].andor;
						//设置选中值和label的active属性
						if(andorValue == 'and'){
							$("#" + divs[i].id).find("input[name^='andor'][value='and']").attr("checked",true);
						}
						else{
							$("#" + divs[i].id).find("input[name^='andor'][value='or']").attr("checked",true);
							$("#" + divs[i].id).find("input[name^='andor'][value='or']").parent().addClass("active");
							$("#" + divs[i].id).find("input[name^='andor'][value='and']").parent().removeClass("active");
						}
					}
				}				
			}
			
			//分页提交数据
			function pageFun(page){
				var conditions = allHighCondition();
				$("#pageValue").val(page);
				$("#conditionValue").val(JSON.stringify(conditions));
				$("#searchForm").submit();
			}
		/*]]>*/
		</script>
	</section>
</body>
	<script th:inline="javascript">
	/*<![CDATA[*/
	    var academies = /*[[${academies}]]*/ 'Academies';
		var majors = /*[[${majors}]]*/ 'Majors';
		var academy = [];
		for(var i = 0;i < academies.length;i++){
			academy[academies[i].academy_name] = [];
			for(var j = 0;j < majors.length;j++){
				var m = {name: majors[j].major_name, id: majors[j].major_no};
				if(majors[j].academy_no == academies[i].academy_no)
					academy[academies[i].academy_name].push(m);
			}
		}
		var objacademyopt = $("#select_academyopt").get(0);
		for(var i = 0;i < objacademyopt.options.length;i++){
			var tmp = objacademyopt.options[i].value;
			if(tmp == ''){
				objacademyopt.options[i].selected="selected";
				break;
			}
		}
		
		function pageFun(page){
			locationUrl('/manage/studentInfoList?page=' + page + '&student_number=' +  $("#studentNumber").val() + '&name=' + $("#studentName").val() + '&academy=' + $("#select_academyopt").val(),'studentInfoList');
		}
	/*]]>*/
	</script>
	
	<script type="text/javascript">
	
		$(function () {
	        $("#importBtn").click(function () {
	            var formData = new FormData($('#uploadStudentInfoFile')[0]);
	            $.ajax({
	                type: 'post',
	                url: "/manage/importStudentInfoExcel",
	                data: formData,
	                cache: false,
	                processData: false,
	                contentType: false,
	            }).success(function (data) {
	                alert(data);
	                locationUrl('/manage/studentInfoList','');
	            }).error(function () {
	                alert("上传失败");
	            });
	        });
	    });
	
		//文件上传初始化
		$(document).ready(function () {
	        $("#kv-explorer").fileinput({
	            'theme': 'explorer-fas',
	            'uploadUrl': '/saveExcelData',
	            'allowedFileExtensions': ['xls', 'xlsx'],
	            overwriteInitial: false,
	            initialPreviewAsData: true,
	            language: 'zh'
	        });
	        
	    });
	
	
		//删除
		function deleteStudentInfoByStudentNumber(student_number) {
			if (confirm('确定删除此数据？')) {
				$.post("/manage/deleteStudentInfo", {
						student_number: student_number
					},
					function(data) {
						toastr.success(data, '操作成功');
						locationUrl('/manage/studentInfoList','studentInfoList');
					});
			}
		}
		
		//编辑
		function editStudentInfoByStudentNumber(student_number){
			$.post("/manage/editStudentInfo",{
				student_number: student_number
			},function(data){
				$("#student_number").val(data.student_number);
				$("#name").val(data.name);
				$("#birth").val(data.birth);
				$("#id_number").val(data.id_number);
				var obj1 = $("#sexopt").get(0);
				for(var i = 0;i < obj1.options.length;i++){
					var tmp = obj1.options[i].value;
					if(tmp == data.sex){
						obj1.options[i].selected="selected";
						break;
					}
				}
				var obj2 = $("#majoropt").get(0);
				for(var i = 0;i < obj2.options.length;i++){
					var tmp = obj2.options[i].value;
					if(tmp == data.major){
						obj2.options[i].selected="selected";
						break;
					}
				}
				var obj3 = $("#academyopt").get(0);
				for(var i = 0;i < obj3.options.length;i++){
					var tmp = obj3.options[i].value;
					if(tmp == data.academy){
						obj3.options[i].selected="selected";
						break;
					}
				}
				addOptions(document.getElementById('majoropt'), academy[$("#academyopt").val()]);
				var obj4 = $("#majoropt").get(0);
				for(var i = 0;i < obj4.options.length;i++){
					var tmp = obj4.options[i].value;
					if(tmp == data.major){
						obj4.options[i].selected="selected";
						break;
					}
				}
			});
		}
		
		//更新
		function updateStudentInfo(){
			$.post("/manage/updateStudentInfo",{
				student_number: $("#student_number").val(),
				name: $("#name").val(),
				sex: $("#sexopt").val(),
				major: $("#majoropt").val(),
				academy: $("#academyopt").val(),
				birth: $("#birth").val(),
				id_number: $("#id_number").val()
			},function(data){
				toastr.success(data, '操作成功');
				locationUrl('/manage/studentInfoList','studentInfoList');
			});
		}
		
		//新增
		function insertStudentInfo(){
			$.post("/manage/addStudentInfo",{
				student_number: $("#add_student_number").val(),
				name: $("#add_name").val(),
				sex: $("#add_sexopt").val(),
				major: $("#add_majoropt").val(),
				academy: $("#add_academyopt").val(),
				birth: $("#add_birth").val(),
				id_number: $("#add_id_number").val()
			},function(data){
				toastr.success(data, '操作成功');
				locationUrl('/manage/studentInfoList','studentInfoList');
			});
		}
		
		document.getElementById('academyopt').onchange = function(){
			addOptions(document.getElementById('majoropt'), academy[this.value]);
		}
		
		document.getElementById('add_academyopt').onchange = function(){
			addOptions(document.getElementById('add_majoropt'), academy[this.value]);
		}
		
		//为专业选择框动态添加选项，实现与学院选择框的联动
		function addOptions(s, arr, initValue) {
			if (!arr || arr.length == 0) arr = [{ name: '请选择专业', id: '' }];
			if (!s) { alert('select对象不存在！'); return false }
			s.options.length = 0;
			var selectedIndex = 0;
			for (var i = 0; i < arr.length; i++) {
				s.options.add(new Option(arr[i].name, arr[i].name));
				if (arr[i].id == initValue) selectedIndex = i;
			}
		}
	</script>
</html>